<center><h1>Administrators side</h1></center>

   	      <div class="container" style="margin-top: 30px;">
    		<div class="row">
        		<div class="col-md-4">
                            <div><button class="btn btn-primary" ng-click="submitBatch()">Send data</button></div>
                            <div style="margin-top: 20px;"><button class="btn btn-success" ng-click="visData()">Vis data</button></div>
			</div>
        		<div class="col-md-8">
                            <span style="color: black;">{{batchJobStatus}}</span>
			</div>
		</div>
        </div>
