  <center><h1>Brugers betalingsstatus</h1></center>
  
     	      <div class="container" style="margin-top: 30px;">
    		<div class="row">
        		<div class="col-md-6">
                            <div><img ng-src="{{photoPath}}"/></div>
                            <div style="margin-top: 20px;">BrugerId: {{userId}}</div>
                            <div style="margin-top: 20px;">Navn: {{userName}}</div>
                        </div>
        		<div class="col-md-6">
                            <div>Betalingsstatus...</div>
                        </div>
        </div>

  
  