<center><h1>Morgenbrødsapplikationen</h1></center>

 <div class="container">

      <form class="form-signin" role="form" name="loginForm">
        <center><img src="img/image0.jpg" alt="MorgenBroedImg"></center>
        <br/>
        <input class="form-control" name="bruger" type="text" placeholder="BrugerId" min="3" required autofocus ng-model="brugerModel">
        <input class="form-control" name="password" type="password" placeholder="Password" required autofocus ng-model="pwModel">
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->